httpx
loguru
aiofiles
imagehash
pillow
beautifulsoup4

pandas
openpyxl
lxml
xlrd

qasync

pyside6
PySide6-Fluent-Widgets[full]

selenium
selenium-wire
blinker==1.7.0
# webdriver-manager

cos-python-sdk-v5

pyinstaller